:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);

  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
}

body {
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: center top;
  background-size: 1600px 427px;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  background-color: var(--primary-pale-blue);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 327px;
  height: 567px;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 71px 24px 71px 24px;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

.hero img {
  width: 327px;
  height: 160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 32px;
}

h1 {
  font-size: 22px;
  color: var(--neutral-dark-blue);
  font-weight: 900;
  line-height: 29px;
  font-style: normal;
  margin-bottom: 16px;
}

.wrapper p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: var(--neutral-desaturated-blue);
  margin: 0 48px 24px 48px;
}

.plan {
  border-radius: 11px;
  background-color: var(--neutral-very-pale-blue);
  display: flex;
  margin: 0 24px 24px 24px;
}

.plan img {
  width: 48px;
  height: 48px;
  padding: 17px 20px 16px 16px;
}

h2 {
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  line-height: 19px;
  color: var(--neutral-dark-blue);
  margin: 21px 42px 3px 0;
}

.plan-type .cost {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 19px;
  color: var(--neutral-desaturated-blue);
  margin: 21px 42px 3px 0;
}

.plan a {
  margin: 33px 16px 31px 0px;
  font-size: 13px;
}

.plan a:hover {
  color: #766cf1;
  text-decoration: none;
}

button {
  font-size: 15px;
  font-weight: 900;
  line-height: 20px;
  color: #ffffff;
  border-radius: 11px;
  border: none;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.2);
  padding: 15px 65px 15px 64px;
  margin-bottom: 24px;
  background-color: var(--primary-bright-blue);
}

button:hover {
  background-color: #766cf1;
  cursor: pointer;
}

.quit {
  font-size: 15px;
  font-weight: 900;
  line-height: 20px;
  color: var(--neutral-desaturated-blue);
}

.quit:hover {
  color: black;
  cursor: pointer;
}

@media (min-width: 645px) {
  .body {
    background-image: url(/images/pattern-background-desktop.svg);
  }

  .plan {
    margin: 0 48px 0 48px;
  }

  .btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 32px 48px 32px 48px;
  }

  .plan a {
    margin-left: 50px;
  }

  .wrapper {
    width: 450px;
    height: 697px;
  }

  .wrapper p {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin: 17px 48px 20px 48px;
  }

  .hero img {
    width: 450px;
    height: 220px;
    margin-bottom: 45px;
  }
}
